header{
    display: flex;
    background-color: #F3F520;
    align-items: center;
    justify-content: space-between;
    color: #1DA826;
    height: 30%;
    text-decoration: none;
    .logo{
        display: flex;
        align-items: center;
        padding: 0px;
        img{
            height: 50px;
            align-items: center;
            margin-right: 20px;
        }
    }
    a{
        text-decoration: none;
        margin-right: 15px;
        color: #1DA826;
        &:hover {
                color: aliceblue;
        }
    }

}
