@media (max-width: 576px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    header {
        height: auto;
    }

    .principal p {
        width: 150px;
    }

    .paginaVentas {
        width: 500px;
    }
    .historia{
        display: flex;
        flex-wrap: wrap;
        .lineaTiempo{
            flex-direction: column;
            h3 {order: 1;}
            img {order: 2;}
            div {order: 3;}
        }
    }

}