@mixin reset-list {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
*{
    @include reset-list
}

@import "header.scss";
@import "body.scss";
@import "variables.scss";
@import "footer.scss";
@import "aside.scss";
@import "variables.scss";
@import "mediaquerie.scss";