*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


@import "header.scss";
@import "body.scss";
@import "variables.scss";
@import "footer.scss";
@import "aside.scss";
@import "variables.scss";
@import "mediaquerie.scss";